.content{
    display: grid;
    grid-template-areas: 
    'top top top top'
    'nav main main main'
    'nav main main main'
    'footer footer footer footer';
    grid-gap: 10px;
}

.top {
    grid-area: top;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}