.content {
    border: 5px solid rgb(12, 32, 59);
    border-radius: 3px;
    padding: 15px;
    width: 250px;
}

.input {
    display: block;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

#calcDisplay {
    width: 236px;
}

.operations {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    padding: 2px 5px;

}

.operations > div {
    align-self: stretch;
    
}

.operationButton, .number {
    padding: 0px 20px;
    box-sizing: border-box;
    width: 55px;
}
.operationButton {
    background-color: rgb(214, 214, 214);
    border: 1px solid rgb(163, 163, 163);
    border-radius: 4px;
}
.number {
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(184, 184, 184);
    border-radius: 4px;
}

.numbersFirstRow, .numbersSecondRow, .numbersThirdRow, .numbersFourthRow {
    display: flex;
    justify-content: space-between;
    width: 71.5%;
    padding: 4px 5px 3px 5px;
}
.numbersFirstRow, .numbersSecondRow, .numbersThirdRow, .numbersFourthRow > div {
    align-self: stretch;
}

button {
    font-size: 2rem;
    border: none;
}

.equals {
    width: 20%;
    background-color: rgb(49, 109, 187);
    border: 1px solid rgb(35, 81, 141);
    border-radius: 4px;
}
.equal {
    background-color: rgb(49, 109, 187);
    color: rgb(255, 255, 255);
}