.content {
    border: 5px solid rgb(12, 32, 59);
    border-radius: 3px;
    padding: 15px;
    width: 250px;

}

.input {
    display: block;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    
    
}

#calcDisplay {
    width: 236px;
}

.operations {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 250px;
    padding: 5px;

}

.operations > div {
    display: inline;
    

}

.operation {
    padding: 0px 20px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 250px;
    padding: 5px;

}

.numbers {
    width: 80%;
  
}

.number {
    padding: 1px 10px 5px 5px;
    flex-grow: 3;
}

button {
    font-size: 2rem;
    
    border: none;

}

.equals {
    width: 25%;
    background-color: rgb(49, 109, 187);
}
.equal {
    background-color: rgb(49, 109, 187);
    color: rgb(255, 255, 255);
}